.q1{
    margin-top: 10px;
    margin-left: 10px;
}
.q2{
    width: 100px;
}
.q1{
    
    margin-top: 10px;
    margin-left: 10px;
}
.d-flex{
    margin-left: 230px;
}
.form-control{
    padding: 4px 277px 4px 10px
}
.q5{
    
    
    margin-left: -27px;
    border-radius: 6px;
}