.q1{
    margin-top: 10px;
    margin-left: 10px;
}
.q2{
    width: 100px;
}
.q1{
    
    margin-top: 10px;
    margin-left: 10px;
}
.d-flex{
    margin-left: 230px;
    
    
}

.form-control{
    padding: 4px 277px 4px 10px
    

}

.q5{
    
    
    margin-left: -27px;
    border-radius: 6px;
}
.q6{
    margin-left: 25px;
}
.q7{
    margin-left: 100px; 
}
.q8{
    margin-left: 25px;  
}
.a1{
    font-size: 26px;
    margin-left: -95px;
    font-weight: 700;
}
.r1:hover{
border: 2px solid white;
}
.r1{
    border-bottom: 1px solid black;
}
.x1{
    
        padding: 0px 0px 18px 0px;
    
}
.x2{
    font-size: 14px;
    font-weight: 600;
    margin-left: 12px;
}
.x1:hover{
    border: 2px solid white;
}
.navbar{
    margin-right: -12px;
}